# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands on practice creating and using lambda functions.

## Objectives
You will be able to:
* Understand what lambda functions are and why they are useful
* Use lambda functions to transform data within lists and DataFrames

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv')
df.head(2)

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

## Simple Arithmetic

Use a lambda function to create a new column called 'stars_squared' by squarring the stars column.

In [3]:
df['stars_sqared']= df.stars.map(lambda x: x**2).head()

## Dates
Select the month from the date string using a lambda function.

In [12]:
months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
df['month'] =  df.date.map(lambda x: months[int(x[5:7])-1])

## What is the average number of words for a yelp review?
Do this with a single line of code!

In [15]:
df.text.map(lambda x: len(x.split()))

[58,
 30,
 30,
 82,
 32,
 49,
 21,
 70,
 131,
 112,
 19,
 28,
 20,
 15,
 28,
 31,
 31,
 49,
 26,
 47,
 85,
 120,
 28,
 32,
 37,
 122,
 51,
 42,
 80,
 79,
 65,
 54,
 187,
 45,
 134,
 58,
 6,
 9,
 5,
 11,
 23,
 64,
 107,
 51,
 56,
 24,
 71,
 74,
 15,
 22,
 18,
 62,
 34,
 35,
 22,
 35,
 22,
 159,
 96,
 33,
 23,
 43,
 25,
 54,
 24,
 29,
 33,
 44,
 30,
 60,
 15,
 16,
 51,
 67,
 37,
 38,
 45,
 17,
 43,
 58,
 23,
 11,
 29,
 65,
 48,
 30,
 20,
 18,
 29,
 48,
 34,
 14,
 33,
 45,
 100,
 31,
 72,
 37,
 67,
 29,
 34,
 56,
 20,
 22,
 39,
 32,
 41,
 66,
 84,
 73,
 39,
 124,
 74,
 68,
 88,
 37,
 47,
 48,
 62,
 51,
 24,
 53,
 74,
 77,
 79,
 82,
 41,
 51,
 40,
 69,
 74,
 30,
 243,
 64,
 101,
 209,
 101,
 206,
 50,
 30,
 107,
 30,
 24,
 86,
 38,
 56,
 53,
 180,
 36,
 119,
 125,
 97,
 37,
 21,
 38,
 212,
 124,
 78,
 48,
 75,
 50,
 28,
 64,
 153,
 79,
 202,
 87,
 88,
 77,
 42,
 19,
 88,
 35,
 164,
 29,
 36,
 84,
 62,
 29,
 35,
 65,
 62,
 20,
 18,
 28,
 49,
 27,
 21,
 21,
 20,
 30,
 36,
 10,
 14,
 11,
 25,
 30,
 37,
 42,
 19,
 33,
 14,
 43,
 31,
 52,
 176,
 67,
 57,
 36,
 72,
 23,
 96,
 24,
 71,
 114,
 384,
 122,
 27,
 39,
 29,
 18,
 189,
 33,
 33,
 22,
 228,
 21,
 60,
 233,
 72,
 48,
 118,
 53,
 97,
 90,
 154,
 204,
 71,
 120,
 37,
 69,
 25,
 23,
 23,
 77,
 52,
 206,
 110,
 34,
 71,
 114,
 81,
 62,
 59,
 57,
 19,
 51,
 36,
 58,
 22,
 33,
 21,
 34,
 39,
 27,
 40,
 107,
 88,
 16,
 42,
 47,
 29,
 89,
 43,
 62,
 62,
 52,
 37,
 14,
 42,
 76,
 83,
 44,
 15,
 24,
 32,
 25,
 71,
 15,
 61,
 89,
 55,
 135,
 21,
 48,
 228,
 28,
 25,
 92,
 34,
 82,
 53,
 34,
 11,
 47,
 73,
 25,
 35,
 15,
 22,
 32,
 23,
 63,
 202,
 79,
 106,
 52,
 50,
 97,
 38,
 27,
 94,
 18,
 87,
 28,
 24,
 40,
 30,
 29,
 38,
 19,
 49,
 113,
 46,
 29,
 54,
 17,
 43,
 22,
 49,
 23,
 10,
 41,
 96,
 35,
 132,
 27,
 50,
 39,
 53,
 43,
 66,
 24,
 41,
 72,
 19,
 43,
 32,
 21,
 22,
 18,
 42,
 29,
 22,
 69,
 135,
 82,
 20,
 24,
 23,
 33,
 37,
 72,
 37,
 44,
 47,
 36,
 51,
 33,
 25,
 15,
 52,
 32,
 22,
 19,
 229,
 199,
 52,
 50,
 30,
 123,
 93,
 40,
 43,
 23,
 30,
 48,
 29,
 19,
 44,
 166,
 47,
 39,
 71,
 34,
 9,
 13,
 11,
 102,
 46,
 54,
 192,
 38,
 19,
 81,
 22,
 52,
 76,
 52,
 49,
 21,
 32,
 39,
 29,
 34,
 29,
 48,
 19,
 26,
 42,
 36,
 117,
 39,
 26,
 56,
 33,
 27,
 17,
 53,
 149,
 68,
 35,
 48,
 40,
 15,
 41,
 64,
 28,
 39,
 213,
 16,
 64,
 39,
 45,
 83,
 48,
 18,
 133,
 60,
 58,
 25,
 77,
 78,
 43,
 51,
 42,
 25,
 45,
 72,
 29,
 75,
 67,
 37,
 55,
 58,
 16,
 28,
 119,
 43,
 46,
 19,
 78,
 49,
 65,
 33,
 29,
 27,
 35,
 19,
 33,
 24,
 27,
 47,
 33,
 45,
 28,
 77,
 30,
 77,
 94,
 85,
 50,
 21,
 63,
 58,
 25,
 136,
 44,
 56,
 90,
 33,
 49,
 47,
 30,
 32,
 89,
 58,
 33,
 46,
 30,
 46,
 46,
 54,
 66,
 57,
 62,
 48,
 25,
 73,
 73,
 57,
 56,
 31,
 35,
 33,
 40,
 87,
 76,
 39,
 23,
 22,
 24,
 83,
 13,
 24,
 56,
 38,
 47,
 38,
 28,
 19,
 17,
 17,
 41,
 57,
 57,
 23,
 26,
 18,
 1,
 25,
 65,
 37,
 25,
 26,
 5,
 47,
 26,
 46,
 54,
 77,
 47,
 81,
 37,
 195,
 46,
 17,
 34,
 29,
 23,
 80,
 69,
 69,
 14,
 87,
 17,
 24,
 21,
 23,
 49,
 37,
 14,
 19,
 29,
 27,
 14,
 15,
 100,
 37,
 39,
 29,
 50,
 34,
 84,
 36,
 144,
 57,
 19,
 72,
 44,
 70,
 15,
 21,
 32,
 14,
 38,
 45,
 39,
 17,
 24,
 37,
 41,
 25,
 31,
 35,
 24,
 41,
 16,
 28,
 13,
 20,
 29,
 71,
 21,
 61,
 317,
 34,
 57,
 24,
 40,
 53,
 41,
 44,
 88,
 90,
 20,
 78,
 24,
 34,
 29,
 29,
 105,
 110,
 169,
 60,
 59,
 90,
 17,
 62,
 61,
 28,
 33,
 18,
 80,
 112,
 64,
 13,
 76,
 93,
 35,
 33,
 127,
 35,
 25,
 27,
 22,
 38,
 32,
 56,
 50,
 27,
 21,
 105,
 41,
 35,
 96,
 63,
 66,
 61,
 23,
 49,
 64,
 41,
 15,
 86,
 69,
 50,
 38,
 20,
 119,
 48,
 63,
 45,
 52,
 95,
 30,
 111,
 65,
 61,
 48,
 20,
 84,
 40,
 233,
 29,
 67,
 51,
 42,
 47,
 100,
 40,
 60,
 21,
 111,
 35,
 27,
 31,
 26,
 78,
 32,
 20,
 27,
 16,
 25,
 13,
 30,
 39,
 59,
 19,
 117,
 70,
 46,
 21,
 50,
 42,
 31,
 18,
 24,
 13,
 30,
 21,
 85,
 31,
 27,
 27,
 29,
 41,
 14,
 21,
 65,
 77,
 66,
 32,
 52,
 73,
 33,
 33,
 21,
 28,
 65,
 23,
 91,
 70,
 43,
 34,
 27,
 31,
 84,
 61,
 30,
 160,
 41,
 25,
 18,
 13,
 150,
 77,
 24,
 52,
 36,
 24,
 28,
 48,
 16,
 17,
 85,
 46,
 32,
 70,
 68,
 67,
 44,
 54,
 37,
 18,
 58,
 44,
 31,
 69,
 25,
 55,
 18,
 22,
 40,
 48,
 28,
 13,
 19,
 17,
 115,
 39,
 76,
 46,
 23,
 35,
 47,
 110,
 39,
 36,
 51,
 112,
 17,
 24,
 28,
 38,
 34,
 70,
 24,
 12,
 17,
 26,
 60,
 23,
 41,
 66,
 59,
 31,
 68,
 9,
 71,
 58,
 81,
 62,
 37,
 19,
 75,
 76,
 64,
 51,
 37,
 14,
 48,
 35,
 64,
 104,
 134,
 42,
 28,
 16,
 36,
 22,
 64,
 21,
 48,
 118,
 92,
 23,
 37,
 93,
 47,
 29,
 26,
 31,
 78,
 58,
 36,
 55,
 57,
 36,
 42,
 61,
 17,
 67,
 49,
 42,
 23,
 37,
 158,
 95,
 29,
 79,
 155,
 28,
 34,
 50,
 22,
 33,
 46,
 15,
 38,
 33,
 38,
 27,
 21,
 20,
 84,
 61,
 19,
 32,
 39,
 45,
 62,
 24,
 50,
 24,
 19,
 64,
 23,
 52,
 93,
 43,
 55,
 34,
 30,
 78,
 22,
 56,
 49,
 22,
 120,
 42,
 36,
 30,
 76,
 268,
 44,
 20,
 18,
 33,
 17,
 36,
 16,
 23,
 11,
 42,
 33,
 169,
 14,
 26,
 62,
 18,
 20,
 17,
 25,
 37,
 53,
 67,
 71,
 60,
 24,
 16,
 79,
 28,
 15,
 54,
 23,
 24,
 38,
 44,
 245,
 96,
 100,
 140,
 55,
 123,
 151,
 120,
 98,
 31,
 26,
 25,
 43,
 73,
 70,
 101,
 33,
 70,
 102,
 27,
 54,
 ...]

## Create a new column for the number of words in the review.

In [ ]:
#Your code here

## Rewrite the following as a lambda function. Create a new column 'Review_Length'

In [5]:
def rewrite_as_lambda(value):
    if len(value) < 50:
        return 'Short'
    elif len(value) < 80:
        return 'Medium'
    else:
        return 'Long'
#Hint: nest your if, else conditionals

In [ ]:
#Your code here

## Level Up: Dates Advanced!
<img src="images/date_format_map.png" width="600">  

Overwrite the date column by reordering the month and day from YYYY-MM-DD to DD-MM-YYYY. Try to do this using a lambda function.

In [ ]:
#Your code here

## Summary

Great! Hopefully you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.